// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100vh;
  width: 100vw;
  background: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.full-height {
  height: 100vh;
  display: flex;
  align-items: center;
}

.overflow {
  overflow-y: scroll;
}

.title, .title a {
  font-size: 60px;
  font-size: 12vw;
}

.white {
  color: white;
}

.title a:hover {
  text-decoration: none;
  color: lightyellow;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.add-new-form {
  display: none;
  margin-top: 24px;
  .form-control {
    width: 100% !important;
  }
}
